

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>           
            
                $.fn.serializeObject = function()
                {
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function() {
                        if (o[this.name] !== undefined) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };
         
                $(function () {
                    $("#test").click(function(){
                        alert('enter');
            
                        var jd = JSON.stringify($("#par").serializeObject());
                        
                        $.ajax({
                            type: "POST",
                            url :"/json",
                            contentType: "application/json",
                            data: jd,
                            success : function(data) {
                                alert('works! ' + data.result );
                            },
                            error: function(data){
                                alert('fails');
                            }
                        });
                    });
                });
        </script>
    </head>
    <body>
        <div>
            <form name="json" id="par"  action="/json" method="post">                
                <input type="text", name="username", value="">Username</input>           
                <input type="text", name="email", value="">Password</input>
                <input type="button" id="test" value="json test"></input>
            </form> 
        </div>                 
    </body>
</html>
