<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Breakeven 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130509

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Add User</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/styleFinal.css" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <script>
        //<!-----------TRANSFORMS a String Object to a JSON Object--------->
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        //<!---------------ADD user to the system-------------------------->
        $(function(){
            $("#submit").click(function(){

                var JSONObject = JSON.stringify($("#main").serializeObject());
                if(JSON.parse(JSONObject).name =="" || JSON.parse(JSONObject).username =="" || JSON.parse(JSONObject).password =="" || JSON.parse(JSONObject).email =="" ||JSON.parse(JSONObject).role =="" || JSON.parse(JSONObject).agencyPhoneNumber ==""){
                    alert("Please fill all the fields to add a new user to the system");
                    return false;
                }
                else{

                    $.ajax({
                        type: "POST",
                        url :"/newUser",
                        contentType: "application/json",
                        data:JSONObject,
                        success : function(data) {
                        alert(data.result);
                        $("#main").trigger("reset");
                     },
                        error: function(data){
                            alert(data.result);
                        }
                     });

                }
                return false;
            });
        });
    </script>

</head>
<body>
<div id="wrapper">
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a>Admin Home</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="http://localhost:63342/Pages/Admin Home Prototype.html">Home</a></li>
                    <li class="current_page_item"><a>Add User</a></li>
                    <li><a href="http://localhost:63342/Pages/Add Service Prototype.html">Add Service</a></li>
                    <li><a href="http://localhost:63342/Pages/Login Prototype.html">Log out</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- end #header -->
    <div id="page">


        <div id="content1">
            <div class="post">
                <h2 id="greeting" class="title">New User</h2>
                <div class="entry">
                    <form id="main" action="" method="post">
                        <h3>Name:<input type="text"  name="name" maxlength="50" size="50"/></h3><br>
                        <h3>Username:<input type="text"  name="username" maxlength="40" size="30"/></h3><br>
                        <h3>Password:<input type="text"  name="password" maxlength="16" size="30"/></h3><br>
                        <h3>E-mail:<input type="email"  name="email" pattern="[^ @]*@[^ @]*" /></h3><br>
                        <h3>User Type:<select  name="role" size="1" placeholder="Select Type" >
                            <option value="admin">Admin</option>
                            <option value="employee">Employee</option>
                        </select>
                        </h3><br>
                        <h3>Company Phone Number:<input type="text"  name="agencyPhoneNumber" maxlength="10" size="10"/></h3><br><br>
                    </form>



                    <p>
                        <button id="submit" type="button" class="more" form="main">Add</button>

                    </p>

                </div>
            </div>
        </div>

        <!-- end #content -->




        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->

</div>
<div id="footer">
    <p>Copyright (c) 2013 Sitename.com. All rights reserved. Images by <a href="http://fotogrph.com/">Fotogrph</a>. Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
