{{#messages}}
<li class="message">
    <div class="view">
        <div>
            <label class="username">{{username}}</label>
            <span>{{message}}</span>
        </div>
    </div>
</li>
{{/messages}}